@import '../variables.scss';

.Graph {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
    margin: 30px $containerContentSpacing 50px $containerContentSpacing;

    // move GraphLines child component above Bar components
    .GridLines {
        .grid-line {
            margin-top: -40px;
        }
    }
}