@import '../variables.scss';

.Graph {
    height: 2000px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 30px $containerContentSpacing 50px $containerContentSpacing;

    // move GraphLines child component above Bar components
    .GridLines {
        .grid-line {
            margin-top: -40px;
        }
    }
}